{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">	<link rel="stylesheet" href="./style.css">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
	<title>Nick Landreville Studios Moodboard</title>
</head>

<body>
	<!-- <nav>
		<h1 class="titleFont">{{.Title}}</h1>
		<ul class="navbar">
			<li><a href="/">Moodboard</a> </li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">NewsLetter</a></li>
			<li><a href="/contact">Contact</a> </li>
			<li><a href="https://www.instagram.com/nicklandrevillestudios/">Instagram</a></li>
		</ul>
	</nav> -->

	<header>
        <p class="logo">Nick Landreville Studios</p>
        <nav>
            <ul class="nav-area">
<li><a href="/">home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">newsletter</a></li>
<!-- <li><a href="/contact">Contact</a></li> -->
<li><a href="https://www.instagram.com/nicklandrevillestudios/">Instagram</a></li>
</ul>
</nav>
    </header>
	</body>
	{{end}}