{{template "header" .}}

<body>
	<div class="aboutContainer">
		<h2>{{.Hello}}</h2>
		<p>Thank you for stopping by, I am a software engineer and cultural commentator that helps strategize
			brands with gen-z and millenial retention and competitive analysis. I enjoy moodboarding, boutique fitness,
			90s-mid 00s skateboarding
			culture, mid century modern, tennis, and espresso drinks. For more moods, written content, and curated
			product, please sign up for our newsletter.
		</p>
	</div>

	{{template "footer" .}}
</body>

</html>