{{template "header" .}}

<body>
	<div class="postsDirectory">
		<ul>
			<li><a href="/a-post">A post</a></li>
			<li> <a href="/a-post">Another Post</a></li>
			<li> <a href="/a-post">A post</a></li>
			<li><a href="/a-post">ANother Another post</a></li>
			<li> <a href="/a-post">Where the wild things are</a></li>
			<li> <a href="/a-post">A post</a></li>
			<li> <a href="/a-post">A post</a></li>
			<li> <a href="/a-post">Dollar menu</a></li>
		</ul>
	</div>
	{{template "footer" .}}

</body>

</html>