<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./style.css">
	<title>Nick Landreville Studios Moodboard</title>
</head>

<body>
	<nav>
		<h1>{{.Title}}</h1>
		<ul class="navbar">

			<li><a href="/">Moodboard</a> </li>
			<li><a href="/about">About</a></li>
			<li><a href="https://www.medium.com/@xnel417x">Blog</a></li>
			<li><a href="/">Contact</a> </li>
			<li><a href="https://www.instagram.com/nicklandrevillestudios/">Instagram</a></li>

		</ul>
	</nav>
	<main>
		<section class="centeredPhoto">
			<ul>
				{{range .loopy}}
				<li>
					<img src="{{.}}" alt="">
				</li>
				{{end}}
			</ul>
		</section>
	</main>
	<footer>Site made with love by Nick Landreville using <a href="https://gofiber.io/">GoFiber :)</a></footer>
</body>

</html>