<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>Document</title>
</head>

<body>
	<nav>
		<ul class="navbar">
			<h1>{{.Title}}</h1>
			<li><a href="/">Home</a> </li>
			<li><a href="/about">About</a></li>
			<li><a href="/">Contact</a> </li>
			<li><a href="https://www.instagram.com/nicklandrevillestudios/">Instagram</a></li>
			<li><a href="https://www.medium.com/@xnel417x">Blog</a></li>
		</ul>
	</nav>
	<main>
		<h2>Welcome to my moodboard</h2>

		<section class="centeredPhoto">
			<ul>
				{{range .loopy}}
				<li>
					<img src="{{.}}" alt="">
				</li>
				{{end}}
			</ul>
		</section>
	</main>
</body>

</html>