/* FONTS */
.titleFont {
	font-family: 'Playfair Display',
		serif;
	font-weight: 900;

}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* START NAVBAR CODE */
li {
	list-style-type: none;
	font-family: 'Raleway',
		sans-serif;
}

.navbar {
	margin-top: 0;
	padding-bottom: 72px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbar>li {
	display: flex;
}

a {
	text-decoration: none;
	color: #000000;
	/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

a:visited {
	color: black;
}

a:hover {
	color: blue;
}

/* END NAVBAR CODE */


/* BEGIN MAIN CODE */
h1 {
	padding-top: 48px;
	padding-bottom: 24px;
	text-align: center;
	color: #000000;
	font-size: 64px;
	/* font-family: Arial, Helvetica, sans-serif; */
}

.centeredPhoto {
	text-align: center;
}

img {
	width: 40%;
}

/* END MAIN CODE */

/* BLOG STYLING */


.postHeader p {
	margin-bottom: 34px;
	padding-top: 0;
	text-align: center;
}


/* FOOTER STYLES */
footer {
	position: fixed;
	bottom: 0;
	font-size: 12px;
	padding: 24px;
	/* text-align: center; */
}

.postHeader {
	font-family: 'Playfair Display',
		serif;
	font-weight: 900;
}

.postBody {
	font-family: 'Raleway',
		sans-serif;
}

.postsDirectory {
	font-size: 60px;
	padding-left: 196px;
}

.postsDirectory li {
	padding-bottom: 34px;
}

/* ABOUT STYLES */
.aboutContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	min-width: 650px;
	max-width: 850px;
	text-align: left;
}

.aboutContainer p {
	font-size: 24px;
	font-family: 'Raleway',
		sans-serif;
}

.aboutContainer h2 {
	font-family: 'Playfair Display',
		serif;
	font-weight: 900;
}

.contactInfo {
	text-align: left;
	padding-left: 64px;
	padding-top: 64px;
	font-size: 64px;
}



.newsLetter {
	/* position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%); */
	text-align: center;
	z-index: -1;
}