{{template "header" .}}
<!-- ADD NAVIGATION -->

<body>
	<div class="post">
		<div class="postHeader">
			<h1>OK!</h1>
		</div>
		<div class="postBody">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, officia. Deleniti, enim corporis.
				Modi
				impedit ipsum, iste debitis, vero corporis harum sunt cumque commodi, doloremque velit ut neque
				obcaecati
				delectus reiciendis eius non enim expedita. At labore reprehenderit saepe, quod cumque aut quaerat
				libero
				porro,
				eos ut blanditiis. Nihil, eius!</p>
		</div>
	</div>

	{{template "footer" .}}

</body>

</html>